<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ===Theme Core CSS=== -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <!-- ===Theme Core CSS Responsive=== -->
    <!-- <link rel="stylesheet" href="./assets/css/responsive.css"> -->
    <link rel="stylesheet" href="./assets/css/responsive-v1.css" />
    <!-- ===Botstrap CSS=== -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
    <!-- ===Fontawesome CSS=== -->
    <link rel="stylesheet" href="./assets/css/fontawesome.min.css" />
    <!-- ===Flat Icon=== -->
    <link rel="stylesheet" href="./assets/font/flaticon.css" />

    <!-- // OverRide Css  -->
    <link rel="stylesheet" href="./assets/css/main.css" />
    <title>BROOME SERVICE</title>
  </head>

  <body>
    <!-- ===Navigation Bar Start=== -->
    <header>
      <div class="container">
        <nav>
          <div class="row">
            <div class="col-md-12">
              <div class="main_nav">
                <div class="logo">
                  <a href="index.html"
                    ><img
                      src="./assets/img/logo.png"
                      alt="main logo"
                      class="img-fluid"
                  /></a>
                </div>
                <div class="menu">
                  <input type="checkbox" name="" id="check" />
                  <label for="check" class="chck_bx">
                    <i class="fas fa-bars"></i>
                  </label>
                  <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/about">about us</a></li>
                    <li><a href="/policies">policies</a></li>
                    <li><a href="/services">service</a></li>
                    <!-- <li><a href="/request">Request</a></li> -->
                    <!-- <li><a href="/approve">Approved</a></li> -->
                    <!-- <li><a href="/profile-booking">Booking</a></li> -->
                    <li><a href="/contact">contact</a></li>
                  </ul>
                </div>
                <div class="clr"></div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- ===Navigation Bar End=== -->
  </body>
</html>
