<%- include('inc/header'); %>

<style>
  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: #db4128;
  }

  .banner_email-subscribe {
    display: flex;
  }
  .banner_subscribe_form {
    position: relative;
  }
  ul.searchItem {
    width: 270px;
    height: 215px;
    /* background: rgb(83, 82, 82); */
    border: 1px solid #ddd;
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 0 5px 30px 5px #adabab;
    z-index: 10;
    background: #fff;

    display: none;
  }
  ul.searchItem li {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #fff;
    line-height: 35px;
  }
  ul.searchItem li:hover {
    background: #ddd;
  }
  ul.searchItem li a {
    display: block;
    text-decoration: none;
    padding-left: 10px;
    color: #444444;
  }

  @media only screen and (max-width: 600px) {
    .banner_email-subscribe {
      display: flex;
      flex-direction: column;
    }
  }
</style>

<!-- ===Banner Section Start=== -->
<section id="banner">
  <div class="banner-main">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="banner-left-part">
            <div class="banner-content">
              <h2>
                CONNECT WITH YOUR LOCAL <br />
                <span>CONTRACTORS</span> NOW.
              </h2>
              <ul class="trust_priority">
                <li>
                  <a href="#" class="trust_list trust_list-1">Secure</a>
                </li>
                <li>
                  <a href="#" class="trust_list trust_list-2">Relaible</a>
                </li>
                <li>
                  <a href="#" class="trust_list trust_list-3">Trustworthy</a>
                </li>
              </ul>
              <form action="#" method="POST" class="banner_email-subscribe">
                <div class="dropdown">
                  <div id="myDropdown" class="dropdown-content show">
                    <input
                      type="text"
                      placeholder="Search your Desired workers"
                      class="banner_subscribe_form"
                      id="searchInput"
                    />
                    <ul class="searchItem">
                      <li><a href="#about">Cleaning</a></li>
                      <li><a href="#base">Gardening</a></li>
                      <li><a href="#blog">Delivery & Transport</a></li>
                      <li><a href="#contact">Handyman</a></li>
                      <li><a href="#custom">Plumbing</a></li>
                      <li><a href="#support">Digital Service</a></li>
                      <li><a href="#tools">Removals</a></li>
                      <li><a href="#tools">General Maintenance</a></li>
                    </ul>
                  </div>
                </div>

                <input type="button" value="Find" class="subscribe_btn" />
              </form>

              <span class="trend_search">
                <span class="trend_search_title">Trending Search:</span>
                <span class="trend_search_list">Plumber, Gardener, Movers</span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="banner-right-part">
            <div class="banner_side_img">
              <img
                src="./assets/img/banner-right-img.png"
                alt="banner img"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ===Banner Section End=== -->

<!-- ===Service Section Start=== -->
<section id="service">
  <div class="service_main">
    <div class="container">
      <!-- service head -->
      <div class="service_head">
        <div class="row">
          <div class="col-md-12">
            <div class="service-head text-center">
              <h2>Services You Will Get From Us</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- service list -->
      <div class="service-list">
        <div class="service-list-1">
          <div class="row">
            <div class="col-md-3">
              <div class="services">
                <i class="flaticon-clean"></i>
                <span class="service_title">Cleaning</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="services">
                <i class="flaticon-farming"></i>
                <span class="service_title">Gardening</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="services">
                <i class="flaticon-shipped"></i>
                <span class="service_title">Delivery & Transport</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="services">
                <i class="flaticon-technician"></i>
                <span class="service_title">Handyman</span>
              </div>
            </div>
          </div>
        </div>
        <div class="service-list-2">
          <div class="row">
            <div class="col-md-3">
              <div class="services">
                <i class="flaticon-technician"></i>
                <span class="service_title">Plumbing</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="services">
                <i class="flaticon-services"></i>
                <span class="service_title">Digital Service</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="services">
                <i class="flaticon-trash-bin"></i>
                <span class="service_title">Removals</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="services">
                <i class="flaticon-maintenance"></i>
                <span class="service_title">General Maintenance</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ===Service Section End=== -->

<!-- ===About Section Start=== -->
<section id="about">
  <div class="about-main">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="about-col-left">
            <img
              id="about-section-img"
              src="./assets/img/about-left.png"
              alt="about compnay"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-col-right">
            <div class="about-content">
              <h2 class="about-title"></h2>
              <span class="about-desc"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ===About Section End=== -->

<!-- ===Featured Contractor Section Start=== -->
<section id="featured-contactor">
  <div class="contractor-main">
    <div class="container-fluid">
      <!-- Contractor Head -->
      <div class="row">
        <div class="col-md-12">
          <div class="contractor-head text-center">
            <h2>Featured Contractors</h2>
          </div>
        </div>
      </div>
      <!-- Contracttor Profile -->
      <div class="contractor-profile-main">
        <div id="contructors" class="row"></div>
      </div>
    </div>
  </div>
</section>
<!-- ===Featured Contractor Section end=== -->

<!-- ===Contact Us Section Start=== -->
<section id="contact-us">
  <div class="contact-us_main">
    <div class="container">
      <div class="contact_us-container">
        <div class="row">
          <div class="col-md-6">
            <div class="contact-us-col-left">
              <img
                src="./assets/img/contact-us-left-col-img.png"
                alt="contact us col left img"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="col-md-6 contact-right-bg">
            <div class="contact-us-col-right">
              <div class="contact-us-right-title">
                <h3>Contact Us</h3>
              </div>
              <div class="message_show"></div>
              <form id="messageForm" class="contact-form">
                <div class="form-first-name">
                  <label for="fName">First Name</label>
                  <input
                    id="fName"
                    type="text"
                    placeholder="Enter your First Name"
                    required
                    class="first_name"
                  />
                </div>
                <div class="form-last-name">
                  <label for="lName">Last Name</label>
                  <input
                    id="lName"
                    type="text"
                    placeholder="Enter your Last Name"
                    required
                    class="last_name"
                  />
                </div>
                <div class="form-email">
                  <label for="form_email">Your Email</label>
                  <input
                    id="form_email"
                    type="email"
                    placeholder="Enter your Email"
                    required
                    class="from-email"
                    required
                  />
                </div>
                <div class="form-message-box">
                  <label for="form-message">Message</label>
                  <textarea
                    id="form-message"
                    cols="30"
                    rows="10"
                    class="form_message-box"
                    placeholder="Typer your Message here..."
                    required
                  ></textarea>
                </div>
                <div class="form-submit">
                  <input
                    type="submit"
                    id="sendMessage"
                    value="Submit"
                    class="form_submit-btn"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('inc/footer'); %>

<script>
  // About
  (() => {
    $.get("/util/about", (res) => {
      $("#about-section-img").attr("src", res.photo);
      $(".about-title").text(res.title);
      $(".about-desc").html(res.desc);
    });
  })();

  const generateRating = (ratings) => {
    if (ratings === null || ratings === undefined) {
      return 0;
    }

    const totalRating = Array.from(ratings).reduce(
      (acc, x) => acc + x.value,
      0
    );
    return totalRating / Array.from(ratings).length;
  };

  //contructor
  (() => {
    $.get("/contractor/all", (contractors) => {
      let contructorArea = document.querySelector("#contructors");
      contructorArea.innerHTML = "";
      let featured = Array.from(contractors).filter((x) => x.featured);
      for (contractor of featured) {
        // console.log(contractor);
        contructorArea.innerHTML += `
        <div class="col-md-4">
            <div class="contractor-profile">
              <div class="contractor-profile-img">
                <img
                  src="${contractor.photo}"
                  alt="${contractor.name}"
                  class="img-fluid"
                />
                <a href="/profile-booking-${
                  contractor._id
                }?ref=/" class="hire-now-btn">Hire Now</a>
              </div>
              <div class="contractor-profile-details">
                <div class="contractor-profile-title">
                  <div class="contractor-name-designation">
                    <h5>${contractor.name}</h5>
                    <span class="contractor-designation">${
                      contractor.jobName
                    }</span>
                  </div>
                  <div class="contractor-job-complete">
                    <span class="contractor-job-done">${generateRating(
                      contractor.ratings
                    )}(0 Complete)</span>
                  </div>
                  <div class="contractor-ratings">
                    <ul class="cnc-rate">
                      ${Rating(generateRating(contractor.ratings), "#db4128")}
                    </ul>
                  </div>
                  <div class="clr"></div>
                </div>
                <div class="contractor-profile-description">
                 ${String(contractor.desc).substring(0, 200)}
                </div>
              </div>
            </div>
          </div>
        `;
      }
    });
  })();

  (() => {
    // Message Section
    $("#messageForm").submit((e) => {
      e.preventDefault();
      var fName = $("#fName").val();
      var lName = $("#lName").val();
      var form_email = $("#form_email").val();
      var message = $("#form-message").val();

      $.post(
        "/util/message",
        { fName, lName, form_email, message },
        (res, err) => {
          $("#fName").val("");
          $("#lName").val("");
          $("#form_email").val("");
          $("#form-message").val("");

          $(".message_show")
            .addClass("alert alert-success")
            .text("message Sent Successfully ");
        }
      ).fail((e) => {
        $(".message_show")
          .addClass("alert alert-danger")
          .text(e.responseJSON.message);
        setTimeout(() => {
          $(".message_show").removeClass("alert alert-danger").text("");
        }, 5000);
      });
    });
  })();

  //

  $("#searchInput").focus(() => {
    $(".searchItem").css({ display: "block" });
  });

  $("#searchInput").blur(() => {
    $(".searchItem").css({ display: "none" });
  });

  $("#searchInput").keyup(() => {
    filterFunction();
  });

  function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.querySelector("#searchInput");

    filter = input.value.toUpperCase();
    searchItems = document.querySelector(".searchItem");
    li = searchItems.getElementsByTagName("li");
    let totalShow = 0;
    for (i = 0; i < li.length; i++) {
      txtValue = li[i].textContent || li[i].innerText;

      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
        // Check how Many rows in there and reduce with and height of ul
        totalShow++;
      } else {
        li[i].style.display = "none";
        // Check how Many rows in there and reduce with and height of ul
      }
    }
    if (totalShow < 6) {
      let totalHeight = totalShow * 35;
      console.log(totalHeight);
      $(".searchItem").css({ height: `${totalHeight}px` });
    } else {
      $(".searchItem").css({ height: `215px` });
    }
  }
</script>
