<%- include("inc/header")%>

<!-- ===Breadcumb Section Start=== -->
<section id="breadcumb">
  <div class="breadcumb-main">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcumb-title text-center">
            <h2>Gardener</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ===Breadcumb Section End=== -->

<!-- ===Page Link Section Start=== -->
<section id="page-link">
  <div class="page-link-main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="page_link">
            <span class="page-link_name">Page</span>
            <ul class="page-link-list">
              <li><a href="#" class="page-active">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">....</a></li>
              <li>
                <a href="#" class="page-next-key"
                  ><i class="fas fa-angle-right"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ===Page Link Section End=== -->

<!-- ===Service Profile card section Start=== -->
<section id="service-card">
  <div class="service-card-main">
    <div class="container">
      <div class="row">
        <!-- ../service card one -->
        <div class="col-xl-12">
          <div class="service-card-body">
            <div class="row">
              <!-- profile identity -->
              <div class="col-xl-3">
                <div class="scb-profile-info">
                  <div class="scb-profile-img">
                    <img
                      src="./assets/img/card-avatar-img-1.png"
                      alt="profile image avatar"
                      srcset="./assets/img/card-avatar-img-1.png"
                      class="img-fluid"
                    />
                  </div>
                  <div class="scb-profile-details">
                    <h5>Jhon Doe</h5>
                    <div class="scb-job-detail">
                      <span class="scb-job-rate">
                        <ul>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                        </ul>
                      </span>
                      <span class="scb-job-done"
                        >4.4 <span>(500 complete)</span></span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- profile description -->
              <div class="col-xl-6">
                <div class="scb-profile-description">
                  <p class="scb-profile-description-details">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                    diam nonumy eirmod tempor invidunt ut labore et dolore magna
                    aliquyam erat, sed diam voluptua.
                  </p>
                  <span class="scb-ability">NEXT AVAILABLE</span>
                  <span class="scb-date-time">
                    <span class="scb-date">Thu 12/02/2021</span>
                    <span class="scb-time">2:30pm</span>
                  </span>
                </div>
              </div>
              <!-- profile rate details -->
              <div class="col-xl-3">
                <div class="scb-rate-col">
                  <div class="scb-rate">
                    <span class="scb-rate-number"> $10/hour </span>
                  </div>
                  <div class="scb-hire-btn">
                    <a href="#" class="scb-hire_btn">Hire Now</a>
                  </div>
                </div>
              </div>
              <div class="clr"></div>
            </div>
          </div>
        </div>
        <!-- ../service card two -->
        <div class="col-xl-12 pt-4">
          <div class="service-card-body">
            <div class="row">
              <!-- profile identity -->
              <div class="col-xl-3">
                <div class="scb-profile-info">
                  <div class="scb-profile-img">
                    <img
                      src="./assets/img/card-avatar-img-2.png"
                      alt="profile image avatar"
                      srcset="./assets/img/card-avatar-img-2.png"
                      class="img-fluid"
                    />
                  </div>
                  <div class="scb-profile-details">
                    <h5>Jhon Doe</h5>
                    <div class="scb-job-detail">
                      <span class="scb-job-rate">
                        <ul>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                        </ul>
                      </span>
                      <span class="scb-job-done"
                        >4.4 <span>(500 complete)</span></span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- profile description -->
              <div class="col-xl-6">
                <div class="scb-profile-description">
                  <p class="scb-profile-description-details">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                    diam nonumy eirmod tempor invidunt ut labore et dolore magna
                    aliquyam erat, sed diam voluptua.
                  </p>
                  <span class="scb-ability">NEXT AVAILABLE</span>
                  <span class="scb-date-time">
                    <span class="scb-date">Thu 12/02/2021</span>
                    <span class="scb-time">2:30pm</span>
                  </span>
                </div>
              </div>
              <!-- profile rate details -->
              <div class="col-xl-3">
                <div class="scb-rate-col">
                  <div class="scb-rate">
                    <span class="scb-rate-number"> $10/hour </span>
                  </div>
                  <div class="scb-hire-btn">
                    <a href="#" class="scb-hire_btn">Hire Now</a>
                  </div>
                </div>
              </div>
              <div class="clr"></div>
            </div>
          </div>
        </div>
        <!-- ../service card three -->
        <div class="col-xl-12 pt-4">
          <div class="service-card-body">
            <div class="row">
              <!-- profile identity -->
              <div class="col-xl-3">
                <div class="scb-profile-info">
                  <div class="scb-profile-img">
                    <img
                      src="./assets/img/card-avatar-img-3.png"
                      alt="profile image avatar"
                      srcset="./assets/img/card-avatar-img-3.png"
                      class="img-fluid"
                    />
                  </div>
                  <div class="scb-profile-details">
                    <h5>Jhon Doe</h5>
                    <div class="scb-job-detail">
                      <span class="scb-job-rate">
                        <ul>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                        </ul>
                      </span>
                      <span class="scb-job-done"
                        >4.4 <span>(500 complete)</span></span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- profile description -->
              <div class="col-xl-6">
                <div class="scb-profile-description">
                  <p class="scb-profile-description-details">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                    diam nonumy eirmod tempor invidunt ut labore et dolore magna
                    aliquyam erat, sed diam voluptua.
                  </p>
                  <span class="scb-ability">NEXT AVAILABLE</span>
                  <span class="scb-date-time">
                    <span class="scb-date">Thu 12/02/2021</span>
                    <span class="scb-time">2:30pm</span>
                  </span>
                </div>
              </div>
              <!-- profile rate details -->
              <div class="col-xl-3">
                <div class="scb-rate-col">
                  <div class="scb-rate">
                    <span class="scb-rate-number"> $10/hour </span>
                  </div>
                  <div class="scb-hire-btn">
                    <a href="#" class="scb-hire_btn">Hire Now</a>
                  </div>
                </div>
              </div>
              <div class="clr"></div>
            </div>
          </div>
        </div>
        <!-- ../service card four -->
        <div class="col-xl-12 pt-4">
          <div class="service-card-body">
            <div class="row">
              <!-- profile identity -->
              <div class="col-xl-3">
                <div class="scb-profile-info">
                  <div class="scb-profile-img">
                    <img
                      src="./assets/img/card-avatar-img-4.png"
                      alt="profile image avatar"
                      srcset="./assets/img/card-avatar-img-4.png"
                      class="img-fluid"
                    />
                  </div>
                  <div class="scb-profile-details">
                    <h5>Jhon Doe</h5>
                    <div class="scb-job-detail">
                      <span class="scb-job-rate">
                        <ul>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                        </ul>
                      </span>
                      <span class="scb-job-done"
                        >4.4 <span>(500 complete)</span></span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- profile description -->
              <div class="col-xl-6">
                <div class="scb-profile-description">
                  <p class="scb-profile-description-details">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                    diam nonumy eirmod tempor invidunt ut labore et dolore magna
                    aliquyam erat, sed diam voluptua.
                  </p>
                  <span class="scb-ability">NEXT AVAILABLE</span>
                  <span class="scb-date-time">
                    <span class="scb-date">Thu 12/02/2021</span>
                    <span class="scb-time">2:30pm</span>
                  </span>
                </div>
              </div>
              <!-- profile rate details -->
              <div class="col-xl-3">
                <div class="scb-rate-col">
                  <div class="scb-rate">
                    <span class="scb-rate-number"> $10/hour </span>
                  </div>
                  <div class="scb-hire-btn">
                    <a href="#" class="scb-hire_btn">Hire Now</a>
                  </div>
                </div>
              </div>
              <div class="clr"></div>
            </div>
          </div>
        </div>
        <!-- ../service card five -->
        <div class="col-xl-12 pt-4">
          <div class="service-card-body">
            <div class="row">
              <!-- profile identity -->
              <div class="col-xl-3">
                <div class="scb-profile-info">
                  <div class="scb-profile-img">
                    <img
                      src="./assets/img/card-avatar-img-5.png"
                      alt="profile image avatar"
                      srcset="./assets/img/card-avatar-img-5.png"
                      class="img-fluid"
                    />
                  </div>
                  <div class="scb-profile-details">
                    <h5>Jhon Doe</h5>
                    <div class="scb-job-detail">
                      <span class="scb-job-rate">
                        <ul>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                        </ul>
                      </span>
                      <span class="scb-job-done"
                        >4.4 <span>(500 complete)</span></span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- profile description -->
              <div class="col-xl-6">
                <div class="scb-profile-description">
                  <p class="scb-profile-description-details">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                    diam nonumy eirmod tempor invidunt ut labore et dolore magna
                    aliquyam erat, sed diam voluptua.
                  </p>
                  <span class="scb-ability">NEXT AVAILABLE</span>
                  <span class="scb-date-time">
                    <span class="scb-date">Thu 12/02/2021</span>
                    <span class="scb-time">2:30pm</span>
                  </span>
                </div>
              </div>
              <!-- profile rate details -->
              <div class="col-xl-3">
                <div class="scb-rate-col">
                  <div class="scb-rate">
                    <span class="scb-rate-number"> $10/hour </span>
                  </div>
                  <div class="scb-hire-btn">
                    <a href="#" class="scb-hire_btn">Hire Now</a>
                  </div>
                </div>
              </div>
              <div class="clr"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ===Service Profile card section End=== -->

<!-- ===Page Link Section Start=== -->
<section id="page-link">
  <div class="page-link-main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="page_link">
            <span class="page-link_name">Page</span>
            <ul class="page-link-list">
              <li><a href="#" class="page-active">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">....</a></li>
              <li>
                <a href="#" class="page-next-key"
                  ><i class="fas fa-angle-right"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ===Page Link Section End=== -->

<!-- ===Contact Us Section Start=== -->
<section id="contact-us">
  <div class="contact-us_main">
    <div class="container">
      <div class="contact_us-container">
        <div class="row">
          <div class="col-md-6">
            <div class="contact-us-col-left">
              <img
                src="./assets/img/contact-us-left-col-img.png"
                alt="contact us col left img"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="col-md-6 contact-right-bg">
            <div class="contact-us-col-right">
              <div class="contact-us-right-title">
                <h3>Contact Us</h3>
              </div>
              <form action="#" method="POST" class="contact-form">
                <div class="form-first-name">
                  <label for="fName">First Name</label>
                  <input
                    id="fName"
                    type="text"
                    placeholder="Enter your First Name"
                    required
                    class="first_name"
                  />
                </div>
                <div class="form-last-name">
                  <label for="lName">Last Name</label>
                  <input
                    id="lName"
                    type="text"
                    placeholder="Enter your Last Name"
                    required
                    class="last_name"
                  />
                </div>
                <div class="form-email">
                  <label for="form_email">Your Email</label>
                  <input
                    id="form_email"
                    type="email"
                    placeholder="Enter your Email"
                    required
                    class="from-email"
                  />
                </div>
                <div class="form-message-box">
                  <label for="form-message">Message</label>
                  <textarea
                    id="form-message"
                    cols="30"
                    rows="10"
                    class="form_message-box"
                    placeholder="Typer your Message here..."
                  ></textarea>
                </div>
                <div class="form-submit">
                  <input type="button" value="Submit" class="form_submit-btn" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ===Contact Us Section End=== -->
<%- include('inc/footer'); %>
