<%- include("inc/header")%>

<!-- ===Breadcumb Section Start=== -->
<section id="breadcumb">
  <div class="breadcumb-main">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcumb-title text-center">
            <h2 class="banner-title">Gardener</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ===Breadcumb Section End=== -->

<!-- ===Page Link Section Start=== -->
<section id="page-link">
  <div class="page-link-main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="page_link">
            <span class="page-link_name">Page</span>
            <ul class="page-link-list">
              <li><a href="#" class="page-active">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">....</a></li>
              <li>
                <a
                  style="cursor: pointer"
                  onclick="next()"
                  class="page-next-key"
                  ><i class="fas fa-angle-right"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ===Page Link Section End=== -->

<!-- ===Service Profile card section Start=== -->
<section id="service-card">
  <div class="service-card-main">
    <div class="container">
      <div id="contractors" class="row"></div>
    </div>
  </div>
</section>
<!-- ===Service Profile card section End=== -->

<!-- ===Page Link Section Start=== -->
<section id="page-link">
  <div class="page-link-main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="page_link">
            <span class="page-link_name">Page</span>
            <ul class="page-link-list">
              <li><a href="#" class="page-active">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">....</a></li>
              <li>
                <a href="#" class="page-next-key"
                  ><i class="fas fa-angle-right"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ===Page Link Section End=== -->

<!-- ===Contact Us Section Start=== -->
<section id="contact-us">
  <div class="contact-us_main">
    <div class="container">
      <div class="contact_us-container">
        <div class="row">
          <div class="col-md-6">
            <div class="contact-us-col-left">
              <img
                src="./assets/img/contact-us-left-col-img.png"
                alt="contact us col left img"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="col-md-6 contact-right-bg">
            <div class="contact-us-col-right">
              <div class="contact-us-right-title">
                <h3>Contact Us</h3>
              </div>
              <form action="#" method="POST" class="contact-form">
                <div class="form-first-name">
                  <label for="fName">First Name</label>
                  <input
                    id="fName"
                    type="text"
                    placeholder="Enter your First Name"
                    required
                    class="first_name"
                  />
                </div>
                <div class="form-last-name">
                  <label for="lName">Last Name</label>
                  <input
                    id="lName"
                    type="text"
                    placeholder="Enter your Last Name"
                    required
                    class="last_name"
                  />
                </div>
                <div class="form-email">
                  <label for="form_email">Your Email</label>
                  <input
                    id="form_email"
                    type="email"
                    placeholder="Enter your Email"
                    required
                    class="from-email"
                  />
                </div>
                <div class="form-message-box">
                  <label for="form-message">Message</label>
                  <textarea
                    id="form-message"
                    cols="30"
                    rows="10"
                    class="form_message-box"
                    placeholder="Typer your Message here..."
                  ></textarea>
                </div>
                <div class="form-submit">
                  <input type="button" value="Submit" class="form_submit-btn" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ===Contact Us Section End=== -->
<%- include('inc/footer'); %>
<script>
  //contructor
  var nextPage = null;
  var prevPage = null;
  var total = 0;

  const generateRating = (ratings) => {
    if (ratings === null || ratings === undefined) {
      return 0;
    }
    const totalRating = Array.from(ratings).reduce(
      (acc, x) => acc + x.value,
      0
    );
    return totalRating / Array.from(ratings).length;
  };

  const availableTime = (arr) => {
    // console.log(arr);
    let allTimes = "";
    for (var i = 0; i < arr.length; i++) {
      if (arr.length - 1 === i) {
        allTimes += arr[i];
      } else {
        allTimes += arr[i] + " , ";
      }
    }
    return allTimes;
  };

  function showProduct(page = 1, limit = 5) {
    $.get(
      `/service-contractors?page=${page}&limit=${limit}`,
      ({ next, previous, results, total }) => {
        let contructorArea = document.querySelector("#contractors");
        nextPage = next;
        prevPage = previous;
        total = total;
        contructorArea.innerHTML = "";
        for (contractor of results) {
          // console.log(contractor);
          contructorArea.innerHTML += `
        <div class="col-xl-12 pt-4">
          <div class="service-card-body">
            <div class="row">
              <!-- profile identity -->
              <div class="col-xl-3">
                <div class="scb-profile-info">
                  <div class="scb-profile-img">
                    <img
                      src="${contractor.photo}"
                      alt="${contractor.name}"
                      srcset="${contractor.photo}"
                      class="img-fluid"
                    />
                  </div>
                  <div class="scb-profile-details">
                    <h5>${contractor.name}</h5>
                    <div class="scb-job-detail">
                      <span class="scb-job-rate">
                        <ul>
                          ${Rating(
                            generateRating(contractor.ratings),
                            "#db4128"
                          )}
                        </ul>
                      </span>
                      <span class="scb-job-done"
                        >${generateRating(contractor.ratings)} <span>(${
            contractor.ratings !== null
              ? Array.from(contractor.ratings).length
              : 0
          } complete)</span></span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- profile description -->
              <div class="col-xl-6">
                <div class="scb-profile-description">
                   ${String(contractor.desc).substring(0, 250)}
                  <span class="scb-ability">NEXT AVAILABLE</span>
                  <span class="scb-date-time">
                    <span class="scb-date">Thu 12/02/2021</span>
                    <span class="scb-time">${availableTime(
                      Array.from(contractor.availableTime)
                    )}</span>
                  </span>
                </div>
              </div>
              <!-- profile rate details -->
              <div class="col-xl-3">
                <div class="scb-rate-col">
                  <div class="scb-rate">
                    <span class="scb-rate-number"> $${
                      contractor.rate
                    }/hour </span>
                  </div>
                  <div class="scb-hire-btn">
                    <a href="/profile-booking-${
                      contractor._id
                    }?ref=/" class="scb-hire_btn">Hire Now</a>
                  </div>
                </div>
              </div>
              <div class="clr"></div>
            </div>
          </div>
        </div>

        `;
        }
      }
    );
  }

  showProduct();
  function next() {
    console.log("next");
  }

  //
  (() => {
    let service = String(window.location.href).split("=")[1];
    let filtered = service.replace("#", "").replace("-", " ");
    $(".banner-title").text(
      filtered[0].toUpperCase() + filtered.slice(1, filtered.length)
    );

    // Change Image of Banner
    console.log(service);
    var image;
    if (service === "digital-service#" || service == "digital-service") {
      image =
        "https://firebasestorage.googleapis.com/v0/b/admin-broom-service.appspot.com/o/digital.jpg?alt=media&token=1493cc95-2c61-47e7-a5a2-ee2da2b1cb0e";
    } else if (service === "cleaning#" || service == "cleaning") {
      // change color
      $(".banner-title").css({ marginLeft: "-470px", color: "#30333a" });
      image =
        "https://firebasestorage.googleapis.com/v0/b/admin-broom-service.appspot.com/o/cleaning.jpg?alt=media&token=ec1d85e0-bc5d-4de6-a7a0-790930b8b131";
    } else if (service === "gardening#" || service == "gardening") {
      image =
        "https://firebasestorage.googleapis.com/v0/b/admin-broom-service.appspot.com/o/gardening.jpg?alt=media&token=f00cf0e4-89f9-4a64-b4f2-14d9a3e3adf9";
    } else if (
      service === "delivery-transport#" ||
      service == "delivery-transport"
    ) {
      image =
        "https://firebasestorage.googleapis.com/v0/b/admin-broom-service.appspot.com/o/delivery.jpg?alt=media&token=586b511e-f909-45fd-a0b4-f192703ddadb";
    } else if (service === "handyman#" || service == "handyman") {
      image =
        "https://firebasestorage.googleapis.com/v0/b/admin-broom-service.appspot.com/o/handyman.jpg?alt=media&token=12cc7e62-ecfb-4ec1-afc2-847b597c71f3";
    } else if (service === "plumbing#" || service == "plumbing") {
      image =
        "https://firebasestorage.googleapis.com/v0/b/admin-broom-service.appspot.com/o/plumbing.jpg?alt=media&token=5f89b7aa-7c22-4068-b369-c95ccd43cb3c";
    } else if (service === "removals#" || service == "removals") {
      $(".banner-title").css({ color: "#5bb6d5" });
      image =
        "https://firebasestorage.googleapis.com/v0/b/admin-broom-service.appspot.com/o/removals_.jpg?alt=media&token=e4b63093-0e82-40b4-a2c1-1f66a6f6e599";
    } else if (
      service === "general-maintenance#" ||
      service == "general-maintenance"
    ) {
      image =
        "https://firebasestorage.googleapis.com/v0/b/admin-broom-service.appspot.com/o/maintain.jpg?alt=media&token=dd571cc2-3ab6-4521-b00e-85ba3d55e1a9";
    } else {
      image =
        "https://img.freepik.com/free-vector/technicians-people-group-engineering-worker-construction_180264-20.jpg";
    }

    // breadcumb - main;
    let img = new Image();

    img.onload = () => {
      var div = document.querySelector(".breadcumb-main");
      div.style.backgroundImage = "url(" + image + ")";
    };
    img.src = image;
  })();
</script>
